<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="in.techtatva.techtatva" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE"/>

    <application
        android:name=".applications.TechTatva16"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".activities.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop" >
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity
            android:name=".activities.InstaFeedActivity"
            android:label="@string/title_activity_insta_feed"
            android:parentActivityName=".activities.MainActivity" >
        </activity>
        <activity
            android:name=".activities.ResultActivity"
            android:label="@string/title_activity_result"
            android:parentActivityName=".activities.MainActivity" >
        </activity>
        <activity
            android:name=".activities.CategoriesActivity"
            android:label="@string/title_activity_category"
            android:parentActivityName=".activities.MainActivity" >
        </activity>
        <activity
            android:name=".activities.AboutUsActivity"
            android:label="@string/title_activity_about_us"
            android:parentActivityName=".activities.MainActivity" >
        </activity>
        <activity
            android:name=".activities.FavouritesActivity"
            android:label="@string/title_activity_favourites"
            android:parentActivityName=".activities.MainActivity" >
        </activity>
        <activity
            android:name=".activities.SelectedCategoryActivity"
            android:label="@string/title_activity_selected_category"
            android:launchMode="singleTop"
            android:parentActivityName=".activities.CategoriesActivity" >
        </activity>
        <activity
            android:name=".activities.TrendingActivity"
            android:label="@string/title_activity_trending"
            android:parentActivityName=".activities.MainActivity">
        </activity>
        <activity
            android:name=".activities.EasterEggActivity"
            android:label="@string/title_activity_easter_egg"
            android:theme="@style/EasterEggTheme"
            android:parentActivityName=".activities.MainActivity">
        </activity>
        <activity android:name=".activities.DevelopersActivity"
            android:label="@string/title_activity_developers"
            android:parentActivityName=".activities.MainActivity"/>
        <activity android:name=".activities.OnlineEventsActivity"
            android:label="@string/title_activity_online_events"
            android:parentActivityName=".activities.MainActivity"/>

        <receiver
            android:name=".receivers.NotificationReceiver" android:exported="false"
            android:enabled="true" android:label="@string/notification_receiver">
        </receiver>
        <receiver android:name=".receivers.BootReceiver" android:exported="false"
            android:enabled="true" android:label="@string/boot_receiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.EXTERNAL_APPLICATIONS_AVAILABLE"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />
                <action android:name="android.intent.category.DEFAULT"/>
                <action android:name="android.intent.action.REBOOT"/>
            </intent-filter>


        </receiver>
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="647d32f2b260516e8c12a0de2e018969f0be79f4" />
    </application>

</manifest>
